

@{
    ViewBag.Title = "主页";
}
<div class="layui-layout layui-layout-admin">
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <div class="layui-header">
        <div class="layui-logo">任务调度平台</div>

        @*<ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item">
                    <a href="">控制台</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">商品管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">用户</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="">邮件管理</a>
                        </dd>
                        <dd>
                            <a href="">消息管理</a>
                        </dd>
                        <dd>
                            <a href="">授权管理</a>
                        </dd>
                    </dl>
                </li>
            </ul>*@
        @*<ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">@ViewBag.RealName
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:void(0)" onclick="ShowWindow('修改登录密码','/System/UserPwd/@ViewBag.UserID',400,300)">修改密码</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/Login">退出</a>
                </li>
            </ul>*@
    </div>

    <!-- tabs标签页 -->
    <div class="layui-pagetabs">
        <div class="layui-icon layui-pagetabs-control layui-pagetabs-prev">&#xe65a;</div>
        <div class="layui-icon layui-pagetabs-control layui-pagetabs-next">&#xe65b;</div>
        <div class="layui-icon layui-pagetabs-control layui-pagetabs-down">
            &#xe61a;
            <dl class="layui-pagetabs-nav">
                <dd>
                    <a href="javascript:;">关闭当前标签页</a>
                </dd>
                <dd>
                    <a href="javascript:;">关闭其它标签页</a>
                </dd>
                <dd>
                    <a href="javascript:;">关闭全部标签页</a>
                </dd>
            </dl>
        </div>
        <div class="layui-tab" lay-filter="menu-tab" lay-allowclose="true">
            <ul class="layui-tab-title" style="left:0px;">
                <li class="layui-this" lay-id="0">
                    <i class="layui-icon">&#xe68e;</i>我的桌面
                </li>
            </ul>

        </div>
    </div>

    <!-- 左侧导航区域） -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <!--<a class="" href="javascript:;">任务管理</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;" lay-id="1" lay-url="/TaskJob">作业列表</a></dd>
        </dl>-->
                    <a class="" href="javascript:;">作业列表</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div id="iframe-body" class="layui-body">
        <!-- iframe页面内容 -->
        <div class="layui-tab-item layui-show" id="tab_0">
            <iframe class="layui-iframe" frameborder="0" src="/TaskJob/Index"></iframe>
        </div>

    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer" style="font-size:12px; text-align:center">
        © fxt.com - 底部固定区域
    </div>
</div>
<script src="~/js/index.js"></script>

