<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FastNet.TaskManager.Manage</title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/lib/jquery/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/js/common.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>